<!DOCTYPE html>
<html>
    <body>
        <h1>OH NOES! YOU HAVE NO HTML DONE YET!</h1>
        <h2> <%= link_to "Agregador Index", sites_url %></h2>
        <h2> <%= link_to('Login', new_user_session_path) %> </h2>
    </body>
</html>

