  <% if post.image? %>
    <li class="fondorojo"> <a href="#"></a> <%= image_tag('nota435x239.png', {:width => 435, :height => 239}) %>
  <% else %>
  <li>
  <% end %>
    <h3><a href="#">La información.com</a></h3>
      <ol>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
      </ol>
    <h2><a href="#">Holdouts deberán responder a la oferta realizada por la Argentina</a></h2>
      <address>
        15/3/2013
      </address>
      <span>45</span>
  </li>
